<h1> Customer Show Page </h1>

<p>Name: <%= @customer.name %></p>

Items: <%= @customer.items.each do |item| %> 
  <p>Name: <%= item.name %> </p>
  <p>Price: <%= item.price%> </p>
    Market: <%= item.supermarket.name%>
  <% end %>



<p> Add More Items Form </p>

<%= form_with url: "/customers/#{@customer.id}/customer_items", method: :post, local: true do |form| %>

  <%= form.label :name, "Item Search" %>
  <%= form.text_field :name %>

  <%= form.submit "Submit"%>
<% end %>